Source: bapteme
Section: net
Priority: extra
Maintainer: Guilhem Lettron <guilhem.lettron@optiflows.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-golang,
               golang-go,
               golang-user-agent-dev,
               golang-logging-dev,
               golang-uniuri-dev
Standards-Version: 3.9.2
#Vcs-Git: https://github.com/optiflows/bapteme.git
#Vcs-Browser: https://github.com/optiflows/bapteme

Package: bapteme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Bapteme package
 Tool to baptize a server.
